@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-size: 1em;
  font-family: "Fira Sans", sans-serif;
  --text-primary: #d3146a;
  --text-secondary: #ff82ab;
  --bg-primary: #fcb8d9;
  --bg-secondary: #ed1968;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  position: fixed;
  background-color: var(--bg-secondary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

hr {
  border: 2px solid var(--text-primary);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 8px;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  .column:last-child {
    padding-bottom: 1rem;
  }

  main {
    margin: 0;
    padding-bottom: 5rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  a[data-tooltip] {
    position: relative;
  }
  a[data-tooltip]::before,
  a[data-tooltip]::after {
    position: absolute;
    display: none;
    opacity: 0.85;
  }
  a[data-tooltip]::before {
    /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
    content: attr(data-tooltip);
    background: #000;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    /* we don't want the text to wrap */
    white-space: nowrap;
    text-decoration: none;
    top: auto;
    left: 80%;
  }

  a[data-tooltip]::after {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: "";
  }

  a[data-tooltip]:hover::before,
  a[data-tooltip]:hover::after {
    display: block;
  }
}
